header {
    background-color: rgb(144, 117, 83);
    height: 100px;
 }

body {
    background-color:beige;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 10px;
}


.top-image {
    background-image: url(homes.jpg);
    background-position: center;
    height: 900px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-image p {
    background-color: rgba(0, 0, 0, 0.701);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.text-top {
    color: rgb(255, 255, 255);
    width: 50%;
    font-size: xxx-large;
}

.navbar ul {
    list-style-type: none;
    background-color: rgb(144, 117, 83);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(130, 105, 74)
}

.navbar li {
    text-align: center;
    float: left;
}

.Welcome {
    background-color: beige;
    border-radius: 10px;
    text-align: center;
}


h1 {
    color: rgb(255, 255, 255);
}

.images{
    display: flex;
    background-color: rgba(0, 0, 0, 0.701);
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
}

.text{
    display: flex;
    color: rgb(255, 255, 255);
    width: 50%;
    font-size: x-large;
    justify-content: center;
}

.bottom{
    background-color: rgb(144, 117, 83);
}


