

body {
    background-color:beige;
}

header{
   background-color: rgb(144, 117, 83);
}
.navbar ul{
    display: flex;
    text-align: center;
    list-style-type: none;
    background-color: rgb(144, 117, 83);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(130, 105, 74)
}

.half-page-bg {
  flex: 0 0 50%;
  background-image: url(Home.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

h1 {
    color: rgb(255, 255, 255);
}

h2{
    color: rgb(155, 137, 109);
}

h3{
    color: (155, 137, 109); 
}