

header{
   background-color: rgb(144, 117, 83);
    background-image: url(Home-medium.jpg);
    height: 100vh;
    background-repeat: no-repeat;

   .navbar ul{
    display: flex;
    text-align: center;
    list-style-type: none;
    background-color: rgb(144, 117, 83);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(130, 105, 74)
}
}

h1 {
    color: rgb(255, 255, 255);
}

h2{
    color: rgb(155, 137, 109);
}

h3{
    color: (155, 137, 109); 
}