header {
    background-color: rgb(176, 176, 189);
    height: 100px;
 }

.text-top p {
    background-color: rgba(0, 0, 0, 0.701);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

.text-top {
    color: rgb(255, 255, 255);
    width: 50%;
    font-size: xx-large;
    text-align: center;
    justify-content: center;
}

.navbar ul{
    list-style-type: none;
    background-color:rgb(176, 176, 189);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(151, 151, 169)
}

.navbar li{
    text-align: center;
    float: left;
}

.extra{
    display: flex;
    justify-content: center;
    align-items: center;
}

.class{
    display: flex;
    justify-content: center;
    align-items: center;
}

.classes{
    display: flex;
    justify-content: center;
    align-items: center;
}


.bottom {
    background-color: rgb(176, 176, 189);
}
